<div class="card">
  <div class="card-title">
    <h4>
      <i class="fa fa-cogs"></i>
      Registers CPU
    </h4>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>
          </th>
          <th>
            Hex
          </th>
          <th>
            Dec
          </th>
        </tr>
      </thead>
      <tbody>
      
        <tr>
        
          <td>
            EAX
          </td>
          <td>
            {{m_registersCpuHex[0]}}
          </td>
          <td>
            {{m_registersCpu[0]}}
          </td>
          
        </tr>

        <tr>
          <td>
            EBX
          </td>
          <td>
            {{m_registersCpuHex[1]}}
          </td>
          <td>
            {{m_registersCpu[1]}}
          </td>
        </tr>

        <tr>
          <td>
            ECX
          </td>
          <td>
            {{m_registersCpuHex[2]}}
          </td>
          <td>
            {{m_registersCpu[2]}}
          </td>
        </tr>
        
        <tr>
          <td>
            EDX
          </td>
          <td>
            {{m_registersCpuHex[3]}}
          </td>
          <td>
            {{m_registersCpu[3]}}
          </td>
        </tr>

        <tr>
          <td>
            EBP
          </td>
          <td>
            {{m_registersCpuHex[4]}}
          </td>
          <td>
            {{m_registersCpu[4]}}
          </td>
        </tr>

        <tr>
          <td>
            ESP
          </td>
          <td>
            {{m_registersCpuHex[5]}}
          </td>
          <td>
            {{m_registersCpu[5]}}
          </td>
        </tr>
        
        <tr>
          <td>
            ESI
          </td>
          <td>
            {{m_registersCpuHex[6]}}
          </td>
          <td>
            {{m_registersCpu[6]}}
          </td>
        </tr>
        
        <tr>
          <td>
            EDI
          </td>
          <td>
            {{m_registersCpuHex[7]}}
          </td>
          <td>
            {{m_registersCpu[7]}}
          </td>
        </tr>
        
        
      </tbody>
    </table>
  </div>

</div>
