<table class="table">
  <tbody>
    <tr>
      <td>
        <button type="button" class="btn btn-primary" (click)="onClickButtonDown()" >
          <i class="fa fa-arrow-circle-down">
          </i>
          {{m_strDown}}
        </button>
        
      </td>
      <td>
        <button type="button" class="btn btn-primary" (click)="onClickButtonUp()">
          <i class="fa fa-arrow-circle-up">
          </i>
          {{m_strUp}}
        </button>
      </td>
    </tr>
  </tbody>
</table>


<table class="table table-bordered table-condensed">
  <thead>
    <tr>
    
      <th>
        {{m_strCompiledCode}}
      </th>
      
    </tr>
  </thead>
  <tbody>
  
    <tr *ngFor="let str of m_instrLines; index as i" [class.table-success]=isSelected(i)>
      <td>
        {{m_instrLines[i]}}
      </td>
    </tr>
    
    
  </tbody>
</table>

